ci/
src/
docs/
.husky/
.vscode/
deviceBoundedContext/
junit.xml
tsconfig.tsbuildinfo

src/**/*.test.ts
src/testAggregate/
src/**/*.integration.ts

.nvmrc
.eslintrc.yaml
.prettierrc
.prettierignore

dist/**/*.test.d.ts
dist/**/*.test.d.ts.map
dist/**/*.test.js
*.integration.js
*.integration.d.ts
*.tgz
*.json
jest.config*
.git*
