ci
src
docs
.husky
.vscode
junit.xml
tsconfig.tsbuildinfo



dev
.nvmrc
.eslintrc.yaml
.prettierrc
.prettierignore


*.integration.js
*.integration.d.ts
*.integration.d.ts.map
*.micro.js
*.micro.d.ts
*.micro.d.ts.map

dist/fixtures
dist/testAggregate


*.tgz
*.json
jest.config*
.git*
