.github
.husky
.idea
.vscode
ci
src
docs

dev
.nvmrc
.eslintrc.yaml
.prettierrc
.prettierignore


*.integration.js
*.integration.d.ts
*.integration.d.ts.map
*.micro.js
*.micro.d.ts
*.micro.d.ts.map

*.tgz
*.json
jest.config*
.git*
*.ymal

junit.xml
tsconfig.tsbuildinfo
tsconfig.json
tsconfig-base.json
dist/fixtures
dist/testAggregate